/* Importing Press Start 2P Font for project text */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
img, header, a, li{
     transition: all 1s;
     -moz-transition: all 1s; /* Firefox 4 */
     -webkit-transition: all 1s; /* Safari and Chrome */
     -o-transition: all 1s; /* Opera */
 }
/* font smoothing */
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
/* Basic layout */
body {
    background: linear-gradient(
            rgba(16, 48, 238, 1),
            rgba(136, 132, 131, .5),
            rgba(238, 17, 50, 1)
    ),
    url("https://c2.staticflickr.com/6/5202/5328056370_bb9c6ff7fa_b.jpg");
    min-width: 1366px;
}
::-webkit-scrollbar {
    display: none;
}

ul{
    display: inline;
    list-style-type: none;
    clear: left;
    float: left;
    z-index: 0;
}

li{
    display: flex;
    float: left;
}

img.logo{
    float: left;
}
div.menu{
    display: flex;
    z-index: 1;
    clear:left;
}

div.logo{
    z-index: 0;
}
img.art_pic{
    position: fixed;
    display: flex;
    width: 100%;
    z-index: -3;
    -webkit-box-shadow: 0px 5px 7px rgba(101, 36, 138, 0.79);
    -moz-box-shadow:    0px 5px 7px rgba(101, 36, 138, 0.79);
    box-shadow:         0px 5px 7px rgba(101, 36, 138, 0.79);

}
.large .art_pic {
    bottom: 20%;
}
.small .art_pic{
    bottom: 200%;
}

nav{
    width: 960px;
    margin: 0 auto;
}

section.stretch{
    float: left;
    height: 670px;
    width: 100%;
}
section.stretch a{
    text-decoration: none;
    color: #5cdfb4;
}

section.stretch a:hover{
    text-decoration: underline;
}
section.stretch p{
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-top: 250px;
}

header{
    background: #1030ee;
    -webkit-box-shadow: 0px 3px 5px rgba(101, 36, 138, 0.79);
    -moz-box-shadow:    0px 3px 5px rgba(101, 36, 138, 0.79);
    box-shadow:         0px 3px 5px rgba(101, 36, 138, 0.79);
    float: left;
    width: 100%;
    position: fixed;
    z-index: 10;
}

footer{
    background: #1030ee;
    -webkit-box-shadow: 0px -3px 5px rgba(101, 36, 138, 0.79);
    -moz-box-shadow:    0px -3px 5px rgba(101, 36, 138, 0.79);
    box-shadow:         0px -3px 5px rgba(101, 36, 138, 0.79);
    float: left;
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 10;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
}

header a:hover{
    color: #f621fe;
}

header li{
    margin-right: 30px;
}

/* Sizes for the bigger menu */
header.large{
    height: 100%;
}

header.large img.logo{
    width: auto;
    margin-top: 35%;
    height: 100px;
}

header.large li{
    margin-top: 35%;
    margin-bottom: 10%;
}


/* Sizes for the smaller menu */
header.small{
    height: 50px;
}

header.small img.logo{
    float:right;
    width: auto;
    height: 40px;
    margin-top: 10px;
}

header.small li{
    margin-top: 17px;
}

div.intro{
    width:80%;
    align-self: center;
    background:linear-gradient(
            rgba(101, 36, 138, 0.9),
            rgba(101, 36, 138, 0.85),
            rgba(101, 36, 138, 0.75),
            rgba(101, 36, 138, 0.7),
            rgba(16, 48, 238, 0)
    );
    height: 670px;
    max-height: 670px;
    float: left;
    margin:0 auto;
    margin-left:10%;

}

p.intro{
    color: #9611ee;
    font-size: 2vw;
}

div.project{
    width:80%;
    clear:left;
    float:left;
    margin-left:10%;
    height: 610px;
}

p.project{
    color: #9611ee;
    margin-top: 60px;
}

a.intro{
    display: flex;
    margin-top: 1px;

}

a.project{
    display: flex;
    margin-top: -50px;
    min-height: 30px;
}

div.flipper{
    display: inline-table;
    margin-top: 4%;
    margin-left: 4%;
    min-height: 230px;
    width: 20%;
    -webkit-box-shadow: 0px 3px 5px rgba(101, 36, 138, 0.79);
    -moz-box-shadow:    0px 3px 5px rgba(101, 36, 138, 0.79);
    box-shadow:         0px 3px 5px rgba(101, 36, 138, 0.79);
}



.project p{
    text-align: center;
    position: relative;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
}

p.project_b{
    font-size: 10px;
    margin-top: 4px;
}

#project_one{
    background: #11ee96;
}

#project_one_f p{
    background: #ee1168;
}

#project_one_f{
    background: #11ee96 url("GameEvalIcon.png") no-repeat center;
    width: 100%;
    height: 100%;
}

#project_two{
    background: #ffc328;
}
#project_two_f{
    background: #ffc328 url("MSTIcon.png") no-repeat center;
    width: 100%;
    height: 100%;
}

#project_two_f p{
    background: #2965ff;
}

#project_three{
    background: #11ee27;
}
#project_three_f{
    background: #11ee27 url("WordSearcherIcon.png") no-repeat center;
    width: 100%;
    height: 100%;
}
 #project_three_f p{
     background: #ee11d8;
 }

#project_four{
    background: #ff0035;
}

#project_four_f{
    background: #ff0035 url("8bitRacketSymbol.png") no-repeat center;
    width: 100%;
    height: 100%;
}

#project_four_f p{
    background: #00ffcc;
}


#project_five{
    background: #ee11a1;
}

#project_five_f{
    background: #ee11a1 url("AmigoNetIcon.png") no-repeat center;
    background-size: auto 75%;
    width: 100%;
    height: 100%;
}

#project_five_f p{
    background: #11ee5e;
}

#project_six{
    background: #11a1ee;
}
#project_six_f{
    background: #11a1ee url("NixieTubeIcon.png") no-repeat center;;
    width: 100%;
    height: 100%;

}

#project_six_f p{
    background: #ee5e11;
}

#project_seven_f{
    background: #ff752d url("SegModelIcon.png") no-repeat center;
    width: 100%;
    height: 100%;
}
#project_seven{
    background: #ff752d;
}

#project_seven_f p{
    background: #2eb6ff;
}

#project_eight{
    background: #cd11ee;
}

#project_eight_f p{
    background: #32ee11;
}
#project_eight_f{
    background: #cd11ee no-repeat center;
    width: 100%;
    height: 100%;
}

/* flip the pane when hovered */
.flipper:hover{
    transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}